.container {
  display: flex;
  justify-content: center;
}

.article {
  margin: 3rem 1rem;
  color: var(--text-color-dark);
  max-width: 60ch;
}

.article h1 {
  font-size: 2rem;
}

.article section:not(:first-child) {
  margin-top: 4rem;
}

.final {
  margin-top: 4em;
  display: block;
}

.article a {
  color: var(--primary-color);
  text-decoration: none;
  word-break: break-all;
}

.article h4 {
  margin-top: 2.5em;
}

.center {
  text-align: center;
}