.container {
  z-index: 1;
}

.list {
  display: flex;
  list-style: none;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.list li {
  padding: 1em 1.5em;
}

.list li span {
  color: var(--text-color-dark-light);
}

.list a {
  color: var(--text-color-dark);
  text-decoration: none;
}

.list a:hover,
.list a:focus {
  border-bottom: 1px solid var(--text-color-dark);
  margin-bottom: -1px;
}

@media (min-width: 766px) {
  .list li {
    padding: 1em 2em;
  }
}